*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

a{
    text-decoration: none;
    color: #fff;
}


nav a{
    margin: 0px 20px;
}

.logo{
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
}

.header-button{
    display: block;
    background-color: #23A6F0;
    height: 40px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.top-bg-img{
    background-image: linear-gradient(to top, #53575c53,rgba(0,0,0,.5)), url("/img/img-16/hero-cover.5.png");
    background-position: center left;
    background-size: 90%;
    background-repeat: no repeat;
    height: 700px;
}

.first{
    display: flex;
    justify-content: space-around;
    height: 640px;
    padding: 40px 0px;
}

.first .container{
    display: flex;
    justify-content: space-between;
    width: 1215px;
}

.interior{
    margin: 90px 90px 90px 0px;
    color : #fff
}

h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 56px;
    padding-bottom: 45px;
    font-family: sans-serif;
}

.interior p{
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 40px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width : 320px;
}

.buttons a{
    text-align: center;
    display: block;
    padding: 15px;
    width: 150px;
    border-radius: 26px; 
    border: solid;
    color : #fff;
    border: 1px solid;
}

.btn-1{
    background-color:#23A6F0;
}

form{
    height : 510px;
    width: 320px;
    background-color: #fff;
    color: black;
    padding: 25px;
    border-radius: 6px;
}

form p{
    font-size: 20px ;
    font-weight: bold;
}


.p{
    text-align: center;
    height: 45px;
    width: 160px; 
    margin-left: 30px;
    margin-bottom: 25px
}  

.contain{
    margin-bottom: 20px;
}

input, select{
    height: 40px ;
    width: 100%;
    margin-top: 5px
}

.submit{
    height: 45px;
    border-radius: 4px;
    border:none;
    background-color:#23A6F0;
    color: #fff;
    font-weight: bold;

}