*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: sans-serif;
   background-color: hsl(221, 100%, 96%);
}

main{
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
   box-shadow: 1px 1px 20px rgba($color: #000000, $alpha: 0.1);
   background-color: #fff;
   height: 430px;
   width: 700px;
   display:flex;
   border-radius: 30px;

   .left, .right{
      width: 50%;   
   }

   .left{
      background-color: hsl(241, 81%, 58%);
      border-radius: 30px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding:  35px 60px;

      h3,p,span{
         color: #e8dcdc;
      }

      h2{
         margin-bottom: 20px;
      }
   }

   .right div :hover{
      cursor: pointer;
   }

   
   img{
      margin-right: 10px;
   }

   .right{
      padding: 35px 40px;
      border-radius: 0 30px 30px 0;
   }

}

.circle{
   background-color: #4936d6;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;;
   font-weight: bold;
   font-size: 80px;
   height: 170px;
   width: 170px;
   border-radius: 50%;
   margin: 30px 0;
   span{
      font-size:16px;
   }
}

.circle:hover{
   cursor: pointer;
}

.middle{
   margin: 35px 0;
   color: #464545;
}

.reaction, .memory, .verbal, .visual{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 10px;
   margin: 15px 0;
   border-radius: 6px;
}

.reaction{
   background-color: hsl(0, 100%, 95%);
   .img{
      color: hsl(0, 100%, 67%);
   }
}

.memory{
   background-color: hsl(39, 100%, 95%);
   .img{
      color: hsl(39, 100%, 56%);
   }
}

.verbal{
   background-color: hsl(166, 100%, 95%);
   .img{
      color: hsl(166, 100%, 37%);
   }
}

.visual{
   background-color: hsl(234, 100%, 95%);
   .img{
      color: hsl(234, 85%, 45%);
   }
}

span{
   font-weight: 600;
}

.img{
   display: flex;
   align-items: center;
}

button{
   padding: 15px 0;
   width: 100%;
   color: #fff;
   font-weight: bold;
   background-color: hsl(224, 30%, 27%);
   border: none;
   border-radius: 25px;
}

button:hover{
   background-color: hsla(256, 72%, 46%, 1);
   cursor: pointer;
}


@media screen and (max-width: 1000px){
   .container{
      width: 650px;
   }

   main{
      padding: 0 10px;
   }
}

@media screen and (max-width: 700px){
   .container{
      display: flex;
      flex-direction: column;
      width: 90%;
      height: auto;
      border-radius: 0;

      .left, .right{
         width: 100%;
      }
   }

   .right div{
      padding: 9px 5px;
   }

   .middle{
      margin: 10px 0;
   }

   button{
      padding: 17px 0;
   }



}