*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(to top left, rgb(72, 26, 107),rgba(116, 15, 17, 0.8));
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container-main{
    width: auto;    
}

h1, p, label{
    text-align: center;
    color: #fff;
}

form{
    width:100%;
    padding: 10px 20px;
    border: solid;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

input, select{
    width: 100%;
    height: 45px;
}

textarea{
    width: 100%;
}

.two-input{
    width: 260px;
    margin: 0px 5px;
}

form div{
    margin: 10px 0px;
}

@media screen and (max-width: 770px){
    .conainer{
        flex-direction: column;
        align-items: center;
    }
    .two-input{
        width: 100%;
        margin: 5px 0;
    }
    main{
        height: auto;
        width: auto;
    }

}

