*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-size: 17px;
}

main{
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
   height: 100%;
   width: 100%;
   display: grid;
   grid-template-columns: 55% 45%;
}

.right{
   display: flex;
   justify-content: center;
   align-items: center;
}

form{
   height: auto;
   width: 430px;
   padding: 20px;
   margin-right: 200px;
}

input{
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   margin-top: 6px;
}

.input-box-3{
   display: flex;
   justify-content: space-between;
}

.MM,.YY{
   width: 20%;
}

.e-g{
   width: 50%;
}

.btn{
   margin-top: 15px;
   background-color: hsl(278, 68%, 11%);
   color: #fff;
   font-weight: 600;
   border: none;
   padding: 15px;
   border-radius: 5px;
}

.btn:hover{
   cursor: pointer;
}

.left{
   height: 100vh;
   background-image: url("/web pages/24/images/bg-main-desktop.png");
   background-repeat: no-repeat;
}

.card-1{
   height: 250px; 
   border-radius: 10px;
   width: 445px;
   margin: 100px 0 0 150px;
   background-image: url("/web pages/24/images/bg-card-front.png");
   background-size: cover;
}

.logo-img{
   margin: 30px;
}

.zeros{
   width: 100%;
   font-size: 40px;
   color: #fff;
   display: flex;
   padding: 0 35px;
   margin-top: 20px;
   justify-content: space-between;
}

.bottom-writing{
   width: 100%;
   font-size: 20px;
   color: #fff;
   display: flex;
   justify-content: space-between;
   padding: 0 40px;
   margin-top: 20px;
   font-weight: bold;
}

.card-2{
   height: 250px; 
   border-radius: 10px;
   width: 445px;
   margin: 30px 0 0 280px;
   background-image: url("/web pages/24/images/bg-card-back.png");
   background-size: cover;
}

.inner-writing{
   width: 83%;
   font-size: 25px;
   color: #fff;
   position: relative;
   left: 40px;
   top: 107px;
   text-align: end;
   font-weight: bold;
}

.thank{
   text-align: center;
   width: 350px;
   margin-right: 200px;
}

h2{
   margin: 15px 0;
}

button{
   width: 100%;
}

button:hover{
   cursor: pointer;
}

p{
   margin-bottom: 30px;
}

.error-message {
   display: none;
   color: red;
   font-size: 12px;
   margin-top: 5px;
}

input.error {
   border-color: red;
}

input:hover{
   cursor:pointer
}

.spans{
   display: flex;
   justify-content: space-between;
}

.error-message{
   transform: translateY(-20px);
}