*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: hsl(0, 0%, 100%);
}

body{
    background-color: hsl(0, 1%, 8%);
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.container{
    height: 550px;
    width: 320px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: hsl(0, 0%, 12%);
}


.profil-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil{
    margin-top: 5px;
    height: 89px;
    width: 89px;
    border-radius: 50%;
}

h1{
    margin: 18px 0px;
    font-size: 26px;
    line-height: 31px;
}

h3{
    font-size: 14px;
    line-height: 17px;
    color: hsl(75, 94%, 57%);
}

p{
    margin: 18px 0px ;
    font-weight: 548;
    color: rgb(205, 203, 203);
}

img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.buttons{
    padding: 0px 5px;
    height: 280px;
    width: auto;  
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
}

.buttons div{
    width: 100%;
    height: 42px;    
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: hsl(0, 0%, 20%);
}

.buttons div:hover{
    background-color: hsl(75, 74%, 27%);
}